.dx-toast-success{
    min-width: 200px;
    max-width: 350px;
    background-color: #77ce61!important;
    border-radius: 60px 0px 0px 60px!important;
}

.dx-toast-info{
    min-width: 200px;
    max-width: 350px;
    background-color: #636677!important;
    border-radius: 60px 0px 0px 60px!important;
}

.dx-toast-error{
    min-width: 200px;
    max-width: 350px;
    background-color: #EC5F5F!important;
    border-radius: 60px 0px 0px 60px!important;
}