<!-- <p [translate]="'session.end'" [translateParams]="{timeSession: timeSession}"></p>

<p>{{ 'welcome.title' | translate }}</p>

<button (click)="useLanguage('pl')">pl</button>
<button (click)="useLanguage('en')">en</button>

<p [translate]="'welcome.title'" [translateParams]="{title: title}"></p>

<div *ngFor="let item of productList">
  <p>{{item.description}}</p>
</div>

  <dx-button text="jjjjjj"></dx-button>
 
 <dx-button text="Wyślij Powiadomienie" (onClick)="sendNotification()"></dx-button> -->

<app-header></app-header>

<div class="container" style="margin-top: 60px;">
  <router-outlet></router-outlet>
</div>